.delay {
  &-0 { animation-delay: 0ms; }
  &-1 { animation-delay: 100ms; }
  &-2 { animation-delay: 200ms; }
  &-3 { animation-delay: 300ms; }
  &-4 { animation-delay: 400ms; }
  &-5 { animation-delay: 500ms; }
  &-6 { animation-delay: 600ms; }
  &-7 { animation-delay: 700ms; }
  &-8 { animation-delay: 800ms; }
  &-9 { animation-delay: 900ms; }
  &-10 { animation-delay: 1000ms; }
  &-11 { animation-delay: 1100ms; }
  &-12 { animation-delay: 1200ms; }
  &-13 { animation-delay: 1300ms; }
  &-14 { animation-delay: 1400ms; }
  &-15 { animation-delay: 1500ms; }
  &-16 { animation-delay: 1600ms; }
  &-17 { animation-delay: 1700ms; }
  &-18 { animation-delay: 1800ms; }
  &-19 { animation-delay: 1900ms; }
  &-20 { animation-delay: 2000ms; }
}